@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background-image: url('/fondo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Inter', sans-serif;
}

#root {
  height: 100%;
}

.login-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box {
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
  text-align: center;
  font-family: 'Inter', sans-serif;
}

.login-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #004a30;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #64ac93;
}

.login-logo {
  width: 300px;
  height: auto;
  margin-bottom: 1rem;
}

.login-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 1rem;
  text-align: center;
  font-family: 'Inter', sans-serif;
}